/* 
Theme Name: Responsive Child Theme
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Child Theme
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt

*/
/* = LESSHAT
-------------------------------------------------------------- */
/* = Mixins
-------------------------------------------------------------- */
/* = Fonts
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', 'Avenir', sans-serif;
  font-weight: normal;
  line-height: 1.75em;
  margin: 0;
}
p,
a,
div {
  font-family: 'PT Sans', 'Avenir', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.75em;
  text-align: center;
}
/* = Global
-------------------------------------------------------------- */
body,
html {
  height: 100%;
  background: white;
}
a:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
/* = Header
-------------------------------------------------------------- */
#header {
  background: white;
  padding: 20px 10%;
  width: 100%;
  max-width: none;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
img.logo {
  margin: 0;
  width: 150px;
  float: left;
}
@media all and (max-width: 900px) {
  img.logo {
    float: none;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }
}
.main-nav {
  float: right;
  clear: none;
}
@media all and (max-width: 900px) {
  .main-nav {
    float: none;
  }
}
.main-nav ul.menu {
  background: none;
}
@media all and (max-width: 900px) {
  .main-nav ul.menu {
    text-align: center;
  }
}
.main-nav ul.menu li {
  float: left;
  margin-left: 20px;
}
.main-nav ul.menu li:hover {
  background: none;
}
.main-nav ul.menu li a {
  text-decoration: none;
  text-shadow: none;
  text-align: center;
  color: #555555;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 38px;
  font-weight: bold;
  opacity: 0.6;
}
.main-nav ul.menu li a:hover {
  background: none;
  opacity: 1;
}
.main-nav ul.menu li.twitter,
.main-nav ul.menu li.linkedin,
.main-nav ul.menu li.angellist {
  margin: 0;
  padding: 0;
}
.main-nav ul.menu li.twitter a,
.main-nav ul.menu li.linkedin a,
.main-nav ul.menu li.angellist a {
  color: transparent !important;
  width: 25px;
  height: 35px;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.8;
}
.main-nav ul.menu li.twitter a:hover,
.main-nav ul.menu li.linkedin a:hover,
.main-nav ul.menu li.angellist a:hover {
  opacity: 1;
}
@media screen and (max-width: 650px) {
  .main-nav ul.menu li.twitter a,
  .main-nav ul.menu li.linkedin a,
  .main-nav ul.menu li.angellist a {
    display: none;
  }
}
.main-nav ul.menu li.twitter a {
  background-image: url("../images/icons/icon-twitter.svg");
  margin-left: 30px;
}
.main-nav ul.menu li.linkedin a {
  background-image: url("../images/icons/icon-linkedin.svg");
}
.main-nav ul.menu li.angellist a {
  background-image: url("../images/icons/icon-angellist.svg");
}
.main-nav ul.menu li.signup a {
  color: #4696eb;
  opacity: 1;
}
@media all and (max-width: 900px) {
  .main-nav ul.menu li {
    display: inline-block;
    float: none;
  }
}
.main-nav ul.menu li li {
  display: block;
  text-align: left;
}
.main-nav ul.menu .current-menu-item a {
  background: none;
  color: #555555;
  opacity: 1;
}
@media screen and (max-width: 650px) {
  .js .main-nav {
    height: auto;
    background: white;
  }
  .js .main-nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .js .main-nav ul li {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
  }
  .js .main-nav ul li a {
    text-align: center !important;
    font-weight: bold !important;
    border: 0 !important;
  }
  .js .main-nav ul li.signup {
    width: 100%;
  }
  .js .main-nav .menu {
    display: block;
  }
  .js .main-nav .menu {
    top: 0;
    position: relative;
  }
  #responsive_current_menu_item,
  #responsive_menu_button {
    display: none !important;
  }
  .js .main-nav .menu li.current_page_item,
  .js .menu .current_page_item a,
  .js .menu .current-menu-item a {
    background: white;
  }
}
/* = Footer
-------------------------------------------------------------- */
#footer {
  background-color: #333333;
  background-image: url("../images/bg/footer.png");
  background-size: cover;
  padding: 40px 10%;
  width: 100%;
  max-width: none;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
#footer h1 {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 5px 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
#footer a {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #0081c5;
}
#footer .footer-nav .menu {
  background: none;
}
#footer .footer-nav .menu li {
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}
#footer .footer-nav .menu li:hover {
  background: none;
}
#footer .footer-nav .menu li a {
  text-decoration: none;
  text-shadow: none;
  text-align: left;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.75em;
  height: auto;
  color: #d5d5d5;
}
#footer .footer-nav .menu li a:hover {
  background: none;
  color: white;
}
#footer .footer-nav .menu .current-menu-item a {
  background: none;
}
#footer .footer-col {
  width: 15%;
  float: left;
  text-align: left;
}
@media all and (max-width: 900px) {
  #footer .footer-col {
    width: auto;
  }
}
/* = Body
-------------------------------------------------------------- */
#container {
  margin: 0;
  padding: 0;
  max-width: inherit;
}
#wrapper {
  background: none;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}
#content-full {
  margin: 0;
  padding: 0;
}
.wrapper_body {
  padding: 50px 10%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f1f1f1;
}
.wrapper_body h1 {
  font-weight: bold;
  font-size: 26px;
  color: #555555;
}
.wrapper_body h2 {
  font-weight: bold;
  font-size: 20px;
  color: #8a8a8a;
}
.wrapper_body p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}
.wrapper_body .benefit {
  width: 75%;
  margin: 45px auto;
  display: inline-block;
  float: none;
}
.wrapper_body .benefit img {
  width: 90%;
  border-radius: 3px;
  border: none;
  float: left;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}
.wrapper_body .benefit img.noline {
  border: none;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.wrapper_body .benefit h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.wrapper_body .benefit p {
  font-size: 16px;
  text-align: left;
}
.wrapper_body hr.dotted {
  width: 50%;
  margin: 20px auto;
  display: block;
  opacity: 0.25;
}
.wrapper_body .promo_image {
  display: inline-block;
}
.wrapper_white {
  background: white;
}
.wrapper_blue {
  background: #4696eb;
  padding: 50px 10%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* = Company
-------------------------------------------------------------- */
ul.team {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
ul.team li {
  display: inline-block;
  margin: 10px 30px;
  padding: 10px;
}
ul.team img.introicon {
  width: 140px;
  height: 140px;
  border-radius: 10000px;
  margin-bottom: 25px;
}
ul.team h1 {
  font-size: 20px;
  color: #555555;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
ul.team h2 {
  font-size: 14px;
  color: #555555;
  font-weight: bold;
  opacity: 0.5;
}
ul.team ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
ul.team ul.social li {
  margin: 0;
  padding: 0;
}
ul.team ul.social li.twitter a,
ul.team ul.social li.linkedin a,
ul.team ul.social li.angellist a {
  color: transparent !important;
  width: 25px;
  height: 25px;
  color: transparent;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  opacity: 0.75;
}
ul.team ul.social li.twitter a:hover,
ul.team ul.social li.linkedin a:hover,
ul.team ul.social li.angellist a:hover {
  opacity: 1;
}
ul.team ul.social li.twitter a {
  background-image: url("../images/icons/icon-twitter.svg");
}
ul.team ul.social li.linkedin a {
  background-image: url("../images/icons/icon-linkedin.svg");
}
ul.team ul.social li.angellist a {
  background-image: url("../images/icons/icon-angellist.svg");
}
/* = Blog
-------------------------------------------------------------- */
.page-template-blog-excerpt-php .post-edit,
.archive .post-edit,
.page-template-default .post-edit {
  display: none;
}
.page-template-blog-excerpt-php .post,
.archive .post,
.page-template-default .post {
  padding: 50px 20% 30px 20% !important;
  background-size: cover;
  display: inline-block;
}
.page-template-blog-excerpt-php .post h1,
.archive .post h1,
.page-template-default .post h1 {
  margin: 0;
  line-height: 24px;
}
.page-template-blog-excerpt-php .post h1 a,
.archive .post h1 a,
.page-template-default .post h1 a {
  font-size: 26px;
  font-weight: bold;
  color: #555555;
}
.page-template-blog-excerpt-php .post span,
.archive .post span,
.page-template-default .post span {
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.page-template-blog-excerpt-php .post .post-entry p,
.archive .post .post-entry p,
.page-template-default .post .post-entry p {
  font-size: 16px;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.page-template-blog-excerpt-php .post .read-more,
.archive .post .read-more,
.page-template-default .post .read-more {
  text-transform: uppercase;
}
.page-template-blog-excerpt-php .post .read-more a,
.archive .post .read-more a,
.page-template-default .post .read-more a {
  font-size: 12px;
  font-weight: bold;
  color: #555555;
}
.page-template-blog-excerpt-php #content,
.archive #content,
.page-template-default #content,
.page-template-blog-excerpt-php #widgets,
.archive #widgets,
.page-template-default #widgets,
.page-template-blog-excerpt-php #content-blog,
.archive #content-blog,
.page-template-default #content-blog,
.page-template-blog-excerpt-php #content-archive,
.archive #content-archive,
.page-template-default #content-archive {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAwKSIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
}
.page-template-blog-excerpt-php .blogfancy-background-image,
.archive .blogfancy-background-image,
.page-template-default .blogfancy-background-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 2px;
  background-position: center center;
  margin: 20px 0;
}
.single-post #content {
  text-align: center;
  padding: 50px 20% 30px 20% !important;
  margin: 0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigwLCAwLCAwKSIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 0%, #ffffff 100%);
}
.single-post .blogfancy-background-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 2px;
  background-position: center center;
  margin: 20px 0;
}
.single-post h1 {
  margin: 0;
  line-height: 24px;
  font-size: 26px;
  font-weight: bold;
  color: #555555;
}
.single-post span {
  opacity: 0.5;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.single-post .content {
  text-align: left;
}
.single-post .content p {
  font-size: 16px;
  color: #626262;
  text-align: left;
}
.single-post .content h1,
.single-post .content h2,
.single-post .content h3,
.single-post .content h4,
.single-post .content h5,
.single-post .content h6 {
  font-weight: bold;
  color: #555555;
  text-align: left;
}
.single-post .content a {
  font-weight: bold;
  color: #4696eb;
}
.single-post .content a:hover {
  color: #3283d9;
  text-decoration: underline;
}
.single-post .content h1 {
  font-size: 20px;
}
.single-post .content h2 {
  font-size: 18px;
}
.single-post .content h3 {
  font-size: 16px;
}
.single-post .content h4 {
  font-size: 14px;
}
.single-post .content h5 {
  font-size: 12px;
}
.single-post .content h6 {
  font-size: 10px;
}
.navigation {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
  background: white;
}
.navigation .nav-button {
  float: none;
  display: inline-block;
  margin: 25px 0;
}
.navigation .nav-button a {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 45px;
  font-size: 40px;
  color: white;
}
.navigation .nav-button a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.navigation .previous {
  float: none;
  display: inline-block;
  margin: 25px 0;
}
.navigation .previous a {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 45px;
  font-size: 40px;
  color: white;
}
.navigation .previous a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.navigation .next {
  float: none;
  display: inline-block;
  margin: 25px 0;
}
.navigation .next a {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 45px;
  font-size: 40px;
  color: white;
}
.navigation .next a:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* = CF7
-------------------------------------------------------------- */
#_form_1012 {
  width: 50%;
  margin: 0 auto;
  display: block;
}
#_form_1012 input {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: none;
  font-family: 'PT Sans', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4696eb;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}
#_form_1012 input[type=button],
#_form_1012 input[type=submit] {
  background: #4696eb;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  text-shadow: none;
  width: 100%;
  padding: 10px;
  font-family: 'PT Sans', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
}
#_form_1012 ._label {
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#_form_1012 select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: none;
  font-family: 'PT Sans', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  color: #4696eb;
  font-size: 14px;
  -webkit-appearance: none;
  font-weight: bold;
  background-image: url("../images/utilities/dropdown.png");
  background-size: 20px 10px;
  background-position: right center;
  background-repeat: no-repeat;
}
#_form_1012 .preview_part {
  display: none;
}
.hbspt-form {
  width: 60%;
  margin: 0 auto;
  display: block;
}
.hbspt-form fieldset {
  width: 100%;
  max-width: none !important;
}
.hbspt-form .hs-form {
  width: 100%;
}
.hbspt-form .hs-form .hs-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: none;
  font-family: 'PT Sans', Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4696eb;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}
.hbspt-form .hs-form label {
  font-family: 'PT Sans', Avenir, sans-serif;
  font-size: 16px;
}
.hbspt-form input {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: none;
  font-family: 'PT Sans', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4696eb;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
}
.hbspt-form input[type=button],
.hbspt-form input[type=submit] {
  background: #4696eb;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  border: none;
  text-shadow: none;
  width: 100%;
  font-family: 'PT Sans', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 25px 20px;
  box-shadow: none;
  width: 50%;
  margin: 0 auto;
}
.hbspt-form input[type=button]:hover,
.hbspt-form input[type=submit]:hover {
  border: 0px;
  color: white;
  box-shadow: none;
  background: #3a8ae0;
}
#form_result_message {
  background-color: rgba(70, 150, 235, 0.1);
  border-radius: 3px;
  color: #4696eb;
  width: 50%;
  margin: 0px auto 20px auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}
/* = Front Page
-------------------------------------------------------------- */
.front-page #header {
  background: none;
  box-shadow: none;
}
.front-page .featured {
  padding: 100px 10%;
  overflow: hidden;
}
@media all and (max-width: 800px) {
  .front-page .featured {
    padding: 40px 40px 0px 40px;
    text-align: center;
  }
}
@media all and (max-width: 400px) {
  .front-page .featured {
    padding: 20px 20px 0px 20px;
    text-align: center;
  }
}
.front-page .featured h1 {
  font-size: 40px;
  line-height: 1.3em;
  font-weight: bold;
}
@media all and (max-width: 980px) {
  .front-page .featured h1 {
    text-align: center;
    margin-top: 25px !important;
  }
}
.front-page .featured p {
  opacity: 0.75;
  margin: 0;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 25px;
}
@media all and (max-width: 800px) {
  .front-page .featured p {
    padding: 0;
  }
}
@media all and (max-width: 980px) {
  .front-page .featured p {
    text-align: center;
  }
}
.front-page .featured a.free-trial {
  background: #4696eb;
  padding: 15px 40px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0px 15px 0;
  display: inline-block;
  min-width: 250px;
}
.front-page .featured a.free-trial:hover {
  background: #3283d9;
}
.front-page .featured .learn-more {
  display: inline;
}
.front-page .featured .learn-more a {
  background-color: white;
  border: 2px solid #4696eb;
  padding: 13px 38px;
  color: #4696eb;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0px 15px 0;
  display: inline-block;
  min-width: 250px;
  background-image: url("../images/utilities/video.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 90px center;
}
.front-page .featured .learn-more a:hover {
  background-color: rgba(70, 150, 235, 0.15);
}
.front-page .block {
  overflow: hidden;
  padding: 75px 10% 75px 10% !important;
}
.front-page .clients {
  overflow: hidden;
  padding: 75px 10% 75px 10% !important;
  padding: 70px 10% 70px 10% !important;
}
.front-page .clients .grid {
  margin-bottom: 0;
}
.front-page .clients h3 {
  font-weight: bold;
  font-size: 18px;
}
.front-page .clients .links .grid {
  margin-bottom: 0;
}
.front-page .clients .links img {
  padding: 15px 25px;
  box-sizing: border-box;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.front-page .clients .links img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
}
.front-page .agevsdsp {
  background-color: #303030;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0 10%;
  box-sizing: border-box;
}
.front-page .agevsdsp div {
  margin: 0;
  width: 50%;
  display: inline-block;
  padding: 60px 0px;
  float: left;
}
.front-page .agevsdsp div a {
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid white;
  display: inline-block;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}
.front-page .agevsdsp div a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.front-page .agevsdsp div h2 {
  color: white;
  font-weight: bold;
  font-size: 30px;
  display: block;
}
.front-page .agevsdsp div img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  opacity: 0.5;
  display: none;
}
.front-page .agevsdsp div p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: white;
  opacity: 0.7;
}
.front-page .howitworks {
  overflow: hidden;
  padding: 75px 10% 75px 10% !important;
  padding: 100px 10% 100px 10% !important;
  background: #4696eb;
}
.front-page .howitworks p {
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  width: 85%;
  display: block;
  color: white;
  font-weight: bold;
}
.front-page .benefits {
  overflow: hidden;
  padding: 75px 10% 75px 10% !important;
  padding: 100px 10% 100px 10% !important;
  display: inline-block;
  background: rgba(0, 0, 0, 0.02);
  text-align: center;
}
.front-page .benefits h4 {
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  margin: 0;
  text-align: left;
  padding: 0 20px;
}
.front-page .benefits img {
  width: 120px;
  height: 120px;
  border: none;
  margin-bottom: 20px;
  padding-left: 20px;
}
.front-page .benefits p {
  opacity: 0.75;
  padding: 0 20px;
  margin: 0;
  text-align: left;
  font-size: 16px;
}
.front-page .benefits div {
  text-align: left;
}
.front-animation {
  margin-bottom: 0px !important;
  display: inline-block;
  text-align: center;
}
.front-animation p.click {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 12px;
  font-size: 12px;
  margin-bottom: 10px;
  opacity: 0.25;
}
.front-animation img {
  max-height: 500px;
}
.front-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.front-tabs ul li {
  display: inline-block;
  background: none;
  color: black;
  background: #e6e6e6;
  border-radius: 3px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.front-tabs ul li.tabs-1 {
  background-image: url("../images/benefits/frontpage-p1.svg");
}
.front-tabs ul li.tabs-2 {
  background-image: url("../images/benefits/frontpage-p2.svg");
}
.front-tabs ul li.tabs-3 {
  background-image: url("../images/benefits/frontpage-p3.svg");
}
.front-tabs ul li a {
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 50px !important;
  height: 50px !important;
}
.front-tabs ul li.ui-tabs-active {
  background-color: #393939;
  position: relative;
}
.front-tabs ul li.ui-tabs-active:hover {
  background-color: #393939;
}
.front-tabs ul li.ui-tabs-active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #393939;
  border-width: 8.75px;
  margin-left: -8.75px;
}
.front-tabs ul li:hover {
  background-color: #d5d5d5;
}
/* = Company / DSP
-------------------------------------------------------------- */
.wrapper_company a,
.wrapper_dsp a {
  background: #4696eb;
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin: 20px 20px 0px 20px;
  display: inline-block;
}
.wrapper_company a:hover,
.wrapper_dsp a:hover {
  background: #3283d9;
}
.wrapper_company p,
.wrapper_dsp p {
  font-size: 30px;
  color: #555555;
  font-weight: bold;
  margin: 0 auto;
  display: block;
}
.wrapper_company h1,
.wrapper_dsp h1 {
  font-size: 20px;
  color: #555555;
  opacity: 0.5;
}
