/* 
Theme Name: Responsive Child Theme
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Child Theme
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt

*/

/* = LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';


/* = Mixins
-------------------------------------------------------------- */

@colour-font: #555555;
@colour-font-hover: #363636;
@colour-sidebar: #555555;
@colour-sidebar-font: #919191;

@colour-sidebar-dark: #2f2d2e;
@colour-sidebar-darker: #181718;

@colour-learnmore-light: #0081c5;
@colour-learnmore-dark: #0068ab;

@colour-highlight-light: #ffffff;
@colour-highlight-dark: #f1f1f2;

@colour-cases-light: #f1f1f2;
@colour-cases-dark: #e6e7e8;

@colour-overview: #e0e0e0;
@colour-overview-dark: #c9c9c9;

@colour-uplette-orange: #f16521;
@colour-uplette-blue: #4696eb;
@colour-uplette-blue-dark: #3283d9;

@colour-clients: #F1F1F1;
@colour-footer: #333;
@colour-footer-link: #d5d5d5;

/* = Fonts
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6{
	font-family: 'PT Sans', 'Avenir', sans-serif;
	font-weight: normal;
	line-height: 1.75em;
	margin: 0;
}
p, a, div{
	font-family: 'PT Sans', 'Avenir', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.75em;
	text-align: center;
}

/* = Global
-------------------------------------------------------------- */

body, html {
	height: 100%;
	background: white;
}
a{
	&:hover{
		cursor: pointer;
		transition: 0.1s ease-in-out;
	}
}

/* = Header
-------------------------------------------------------------- */

#header{
	background: white;
	padding: 20px 10%;
	width: 100%;
	max-width: none;
	display: block;
	margin: 0 auto;
	.box-sizing(border-box);
	overflow: hidden;
}
img.logo{
	margin: 0;
	width: 150px;
	float: left;
	@media all and (max-width: 900px){
		float: none;
		margin: 0 auto;
		display: block;
		padding: 20px;
	}
}
.main-nav{
	float: right;
	clear: none;
	@media all and (max-width: 900px){
		float: none;
	}
	ul.menu{
		background: none;
		@media all and (max-width: 900px){
			text-align: center;
		}	
		li{
			float: left;
			margin-left: 20px;
			&:hover{
				background: none;
			}
			a{
				text-decoration: none;
				text-shadow: none;
				text-align: center;
				color: @colour-font;
				border: 0;
				padding: 0;
				margin: 0;
				font-size: 14px;
				height: 38px;
				font-weight: bold;
				opacity: 0.5;
				&:hover{
					background: none;
					opacity: 1;
				}
				
			}
			&.twitter, &.linkedin, &.angellist{
				margin: 0;
				padding: 0;
				a{
					color: transparent !important;
					width: 25px;
					height: 35px;
					background-position: bottom right;
					background-repeat: no-repeat;
					background-size: 25px 25px;
					opacity: 0.5;
					&:hover{
						opacity: 1;
					}
					@media screen and (max-width: 650px) {display: none;}
				}
			}
			&.twitter a{
				background-image: url("../images/icons/icon-twitter.svg");
				margin-left: 40px;
			}
			&.linkedin a{
				background-image: url("../images/icons/icon-linkedin.svg");
			}
			&.angellist a{
				background-image: url("../images/icons/icon-angellist.svg");
			}
			&.signup a{
				color: @colour-uplette-blue;
				opacity: 1;
			}
			@media all and (max-width: 900px){
				display:inline-block;
		        float:none;
			}
			li{
				display:block;
				text-align:left
			}
		}
		.current-menu-item{
			a{
				background: none;
				color: @colour-font;
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 650px) {

	.js .main-nav {
		height: auto;
		background: white;
		ul{
			margin: 0;
			padding: 0;
			text-align: center;
		li{
			margin: 0 !important;
			padding: 0 !important;
			display: inline-block;
			a{
				text-align: center !important;
				font-weight: bold !important;
				border: 0 !important;
			}
			&.signup{
				width: 100%;
			}
		}}
	}

	.js .main-nav .menu {
		display: block;
	}

	.js .main-nav .menu {
		top: 0;
		position: relative;
	}
	
	#responsive_current_menu_item, #responsive_menu_button{
		display: none !important; 
	}
	
	.js .main-nav .menu li.current_page_item, .js .menu .current_page_item a, .js .menu .current-menu-item a{
		background: white;
	}

}

/* = Footer
-------------------------------------------------------------- */

#footer{
	background-color: @colour-footer;
	background-image: url("../images/bg/footer.png");
	background-size: cover;
	padding: 40px 10%;
	width: 100%;
	max-width: none;
	display: block;
	margin: 0 auto;
	.box-sizing(border-box);
	overflow: hidden;
	h1{
		font-size: 16px;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 5px 0px;
		text-transform: uppercase;
		font-weight: bold;
		color: white;
	}
	a{
		font-size: 12px;
		margin: 0;
		padding: 0;
		color: @colour-learnmore-light;
	}
	.footer-nav{
		.menu{
			background: none;		
			li{
				float: left;
				margin: 0;
				padding: 0;
				display: inline-block;
				width: 100%;
				&:hover{
				background: none;
			}
				a{
				text-decoration: none;
				text-shadow: none;
				text-align: left;
				border: 0;
				padding: 0;
				margin: 0;
				font-size: 14px;
				line-height: 1.75em;
				height: auto;
				color: @colour-footer-link;
				&:hover{
					background: none;
					color: white;
				}
			}
			}
			.current-menu-item{
				a{
					background: none;
				}
			}
		}
	}
	.footer-col{
		width: 15%;
		float: left;
		text-align: left;
		@media all and (max-width: 900px){
			width: auto;
		}
	}
}

/* = Body
-------------------------------------------------------------- */

#container{
	margin: 0;
	padding: 0;
	max-width: inherit;
}
#wrapper{
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
}
#content-full{
	margin: 0;
	padding: 0;
}
.wrapper_body{
	padding: 50px 10%;
	overflow: hidden;
	.box-sizing(border-box);
	background: @colour-clients;
	h1{
		font-weight: bold;
		font-size: 26px;
		color: @colour-font;
	}
	p{
		margin: 0;
		font-size: 16px;
		line-height: 1.5em;
		color: darken(@colour-clients, 30%);
	}
	.benefit{
		width: 75%;
		margin: 45px auto;
		display: inline-block;
		float: none;
		img{
			width: 90%;
			border-radius: 3px;
			border: none;
			float: left;
			border: 1px solid #ebebeb;
			.box-shadow(2px 2px 15px rgba(0,0,0,0.1));
		}
		img.noline{
			border: none;
			.box-shadow(0 0 0 white);
		}
		h2{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 10px;
			text-align: left;
		}
		p{
			font-size: 16px;
			text-align: left;
		}
	}
	hr.dotted{
		width: 50%;
		margin: 20px auto;
		display: block;
		opacity: 0.25;
	}
	.promo_image{
		display: inline-block;
	}
}
.wrapper_white{
	background: white;
}
.wrapper_blue{
	background: @colour-uplette-blue;
	padding: 50px 10%;
	overflow: hidden;
	.box-sizing(border-box);
}

/* = Company
-------------------------------------------------------------- */

ul.team{
		list-style: none;
		margin: 25px 0;
		padding: 0;
		li{
			display: inline-block;
			margin: 10px;
			padding: 10px;
		}
		img.introicon{
			width: 100px;
			height: 100px;
			border-radius: 10000px;
			margin-bottom: 25px;
		}
		h1{
			font-size: 18px;
			color: @colour-font;
			margin: 0;
			padding: 0;
			line-height: 1.2em;
		}
		h2{
			font-size: 12px;
			color: @colour-font;
			font-weight: bold;
			text-transform: uppercase;
			opacity: 0.5;
		}
		ul.social{
			list-style: none;
			margin: 0;
			padding: 0;
			margin-top: 10px;
			li{
				margin: 0;
				padding: 0;
				
				&.twitter, &.linkedin, &.angellist{
					a{
						color: transparent !important;
						width: 20px;
						height: 20px;
						color: transparent;
						display: block;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 20px 20px;
						opacity: 0.75;
						&:hover{
							opacity: 1;
						}
					}
				}
				&.twitter a{
					background-image: url("../images/icons/icon-twitter.svg");
				}
				&.linkedin a{
					background-image: url("../images/icons/icon-linkedin.svg");
				}
				&.angellist a{
					background-image: url("../images/icons/icon-angellist.svg");
				}
			}
		}
}

/* = Blog
-------------------------------------------------------------- */

.page-template-blog-excerpt-php, .archive, .page-template-default{
	
	
	.post-edit{
		display: none;
	}
	.post{
		padding: 50px 20% 30px 20% !important;
		background-size: cover;
		display: inline-block;
		h1{
			margin: 0;
			line-height: 24px;
			a{
				font-size: 26px;
				font-weight: bold;
				color: @colour-font;
			}
		}
		span{
			opacity: 0.5;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
		}
		.post-entry p{
			font-size: 16px;
			opacity: 0.9;
			margin: 0;
			padding: 0;
		}
		.read-more{
			text-transform: uppercase;
			a{
				font-size: 12px;
				font-weight: bold;
				color: @colour-font;
			}
			
		}
	}
	#content, #widgets, #content-blog, #content-archive{
		margin-top: 0;
		margin-bottom: 0;
		.background-image(linear-gradient(to bottom, rgba(0,0,0,0.04) 0%,white 100%));
	}
	.blogfancy-background-image{
		width: 100%;
		height: 200px;
		background-size: cover;
		border-radius: 2px;
		background-position: center center;
		margin: 20px 0;
	}
}

.single-post{
	#content{
		text-align: center;
		padding: 50px 20% 30px 20% !important;
		margin: 0;
		
		.background-image(linear-gradient(to bottom, rgba(0,0,0,0.04) 0%,white 100%));
		
	}
	.blogfancy-background-image{
		width: 100%;
		height: 200px;
		background-size: cover;
		border-radius: 2px;
		background-position: center center;
		margin: 20px 0;
	}
	h1{
		margin: 0;
		line-height: 24px;
		font-size: 26px;
		font-weight: bold;
		color: @colour-font;
	}
	span{
			opacity: 0.5;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
		}
	.content{
		text-align: left;
		p{
			font-size: 16px;
			color: lighten(@colour-font, 5%);
			text-align: left;
		}
		h1, h2, h3, h4, h5, h6{
			font-weight: bold;
			color: @colour-font;
			text-align: left;
		}
		a{
			font-weight: bold;
			color: @colour-uplette-blue;
			&:hover{
				color: @colour-uplette-blue-dark;
				text-decoration: underline;
			}
		}
		h1{
			font-size: 20px;
		}
		h2{
			font-size: 18px;
		}
		h3{
			font-size: 16px;
		}
		h4{
			font-size: 14px;
		}
		h5{
			font-size: 12px;
		}
		h6{
			font-size: 10px;
		}
	}
}

.navigation{
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline;
	background: white;
	.nav-button{
		float: none;
		display: inline-block;
		margin: 25px 0;
		a{
			width: 50px;
			height: 50px;
			border-radius: 1000px;
			display: inline-block;
			background: rgba(0,0,0,0.1);
			padding: 0;
			line-height: 45px;
			font-size: 40px;
			color: white;
			&:hover{
				background: rgba(0,0,0,0.2);
			}
		}
	}
	
	.previous{
		.nav-button;
	}
	.next{
		.nav-button;
	}
}


/* = CF7
-------------------------------------------------------------- */

#_form_1012{
	width: 50%;
	margin: 0 auto;
	display: block;
	input{
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 3px;
			box-shadow: none;
			font-family: 'PT Sans', 'Avenir', sans-serif;
			-webkit-font-smoothing: antialiased;
			color: #4696eb;
			font-size: 14px;
			font-weight: 700;
			width: 100%;
		}
	input[type=button], input[type=submit]{
			background: #4696eb;
			border-radius: 3px;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			border: none;
			text-shadow: none;
			width: 100%;
			padding: 10px;
			font-family: 'PT Sans', 'Avenir', sans-serif;
			-webkit-font-smoothing: antialiased;
		}
	._label{
		text-align: left;
		font-weight: bold;
		margin: 0; 
		padding: 0;
	}
	select{
		margin-bottom: 10px;
			padding: 10px;
			border: 1px solid rgba(0,0,0,0.1);
			border-radius: 3px;
			box-shadow: none;
			font-family: 'PT Sans', 'Avenir', sans-serif;
			-webkit-font-smoothing: antialiased;
			width: 100%;
			color: @colour-uplette-blue;
			font-size: 14px;
			-webkit-appearance: none;
			font-weight: bold;
			background-image: url("../images/utilities/dropdown.png");
			background-size: 20px 10px;
			background-position: right center;
			background-repeat: no-repeat;
	}
	.preview_part{
		display: none;
	}
}

.hbspt-form{
	width: 50%;
	margin: 0 auto;
	display: block;
	
	fieldset{
		width: 100%;
		max-width: none !important;
	}
	.hs-form{
		width: 100%;
		.hs-input{
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			padding: 20px 10px;
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 3px;
			box-shadow: none;
			font-family: 'PT Sans',Avenir,sans-serif;
			-webkit-font-smoothing: antialiased;
			color: #4696eb;
			font-size: 14px;
			font-weight: 700;
			width: 100%;
		}
		label{
			font-family: 'PT Sans',Avenir,sans-serif;
			font-size: 14px;
		}
	}
	input{
			margin: 0;
			padding: 0;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid rgba(0,0,0,.1);
			border-radius: 3px;
			box-shadow: none;
			font-family: 'PT Sans', 'Avenir', sans-serif;
			-webkit-font-smoothing: antialiased;
			color: #4696eb;
			font-size: 14px;
			font-weight: 700;
			width: 100%;
		}
	input[type=button], input[type=submit]{
			background: #4696eb;
			border-radius: 3px;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			border: none;
			text-shadow: none;
			width: 100%;
			padding: 10px;
			font-family: 'PT Sans', 'Avenir', sans-serif;
			-webkit-font-smoothing: antialiased;
			padding: 15px 10px;
			box-shadow: none;
			&:hover{
				border: 0px;
				color: white;
				box-shadow: none;
				background: #3a8ae0;
			}
		}
}
#form_result_message{
	background-color: rgba(70,150,235,0.1);
	border-radius: 3px;
	color: @colour-uplette-blue;
	width: 50%;
	margin: 0px auto 20px auto;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
}

/* = Front Page
-------------------------------------------------------------- */

.front-page{
	#header{
		background: none;
		box-shadow: none;
	}
	.featured{
		padding: 25px 10% 0px 10%;
		overflow: hidden;	
		background: white;
		@media all and (max-width: 800px){
			padding: 40px 40px 0px 40px;
			text-align: center;
		}
		@media all and (max-width: 400px){
			padding: 20px 20px 0px 20px;
			text-align: center;
		}
		h1{
			margin-bottom: 20px;
			font-size: 36px;
			line-height: 1.3em;
			text-align: left;
			font-weight: bold;
			color: @colour-font;
			margin-top: 120px;
			@media all and (max-width: 980px){
				text-align: center;
				margin-top: 25px !important;
			}

		}
		p{
			opacity: 0.6;
			margin: 0;
			font-size: 20px;
			line-height: 1.5em;
			text-align: left;
			margin-bottom: 25px;
			@media all and (max-width: 800px){
				padding: 0;
			}
			@media all and (max-width: 980px){
				text-align: center;
			}
		}
		a{
			background: @colour-uplette-blue;
			padding: 15px 25px;
			color: white;
			border-radius: 3px;
			float: left;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			@media all and (max-width: 980px){
				text-align: center;
				
				float: none;
				margin: 0 auto;
				margin-bottom: 20px;
				display: inline-block;
			}
			&:hover{
				background: @colour-uplette-blue-dark;
			}
		}

	}
	.block{
		overflow: hidden;
		padding: 75px 10% 75px 10% !important;
	}
	.clients{
		.block;
		padding: 70px 10% 70px 10% !important;
		.grid{
			margin-bottom: 0;
		}
		h3{
			font-weight: bold;
			font-size: 16px;
		}
		.links{
			.grid{
				margin-bottom: 0;
			}
			img{
				padding: 15px 25px;
				box-sizing: border-box;
				opacity: 0.5;
				-webkit-filter: grayscale(100%);
				.transition(all 0.1s ease-in-out);
				&:hover{
					opacity: 1;
					-webkit-filter: grayscale(0%);
				}
			}
		}
	}
	.agevsdsp{
		a{
			width: 50%;
			display: block;
			margin: 0;
			padding: 50px 0;
			float: left;
			color: white;
			font-weight: bold;
			font-size: 24px;
			background-color: #303030;
			background-size: cover;
			background-position: center bottom;
			line-height: 24px;
			min-height: 112px;
			&:hover{
				background-color: #282828;
			}
			span{
				display: block;
				font-size: 12px;
				opacity: 0.5;
			}
			img{
				width: 30px;
				height: 30px;
				display: block;
				margin: 0 auto;
				margin-bottom: 10px;
				opacity: 0.5;
			}
		}
	}
	.howitworks{
		.block;
		padding: 100px 10% 100px 10% !important;
		background: @colour-clients;
		display: inline-block;
		p{
			font-size: 16px;
			color: darken(@colour-clients, 30%);
			margin: 0;
			padding: 0;
			&.larger{
				font-size:18px;
			}
		}
		h1{
			margin-bottom: 20px;
			font-size: 22px;
			line-height: 1.3em;
			text-align: center;
			font-weight: bold;
			color: @colour-font;
		}
		h4{
			font-size: 18px;
			font-weight: bold;
			color: @colour-font;
			margin: 0;
			padding: 0;
		}
		img{
			width: 100px;
			height: 100px;
			border: none;
			margin: 20px 0px 20px 0px;
		}
		img.screenshots{
			width: auto;
			max-width: 70%;
			height: auto;
			border: none;
			margin: 20px 0px 0px 0px;
		}
	}	
}
.front-animation{
	margin-bottom: 0px !important;
	display: inline-block;
	text-align: center;
	p.click{
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		display: inline-block;
		margin: 0;
		padding: 0;
		line-height: 12px;
		font-size: 12px;
		margin-bottom: 10px;
		opacity: 0.25;
	}
	img{
		max-height: 500px;
	}
}
.front-tabs{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li{
			display: inline-block;
			background: none;
			color: black;
			background: #e6e6e6;
			border-radius: 3px;
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: center center;
			
			&.tabs-1{background-image: url("../images/benefits/frontpage-p1.svg");}
			&.tabs-2{background-image: url("../images/benefits/frontpage-p2.svg");}
			&.tabs-3{background-image: url("../images/benefits/frontpage-p3.svg");}
			
			a{
				background: none !important;
				margin: 0 !important;
				padding: 0 !important;
				width: 50px !important;
				height: 50px !important;
			}
			&.ui-tabs-active{
				background-color: #393939;
				position: relative;
				&:hover{
					background-color: #393939;
				}
				&:after{
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(136, 183, 213, 0);
					border-top-color: #393939;
					border-width: 8.75px;
					margin-left: -8.75px;
				}
			}
			&:hover{
				background-color: #d5d5d5;
			}
		}
	}
}

/* = Company / DSP
-------------------------------------------------------------- */
.wrapper_company, .wrapper_dsp{
	a{
		background: @colour-uplette-blue;
		padding: 10px 20px;
		color: white;
		border-radius: 3px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		margin: 20px 20px 0px 20px;
		display: inline-block;
		&:hover{
			background: @colour-uplette-blue-dark;
		}
	}
	p{
		font-size: 28px;
		color: @colour-font;
		font-weight: bold;
		width: 60%;
		margin: 0 auto;
		display: block;
	}
	h1{
		text-transform: uppercase;
		font-size: 16px;
		color: @colour-font;
		opacity: 0.25;
	}
	
}