/* 
Theme Name: Responsive Child Theme
Theme URI: http://cyberchimps.com/guide/child-theme-example/
Description: Responsive Child Theme
Template: responsive
Version: 1.0.0
Author: CyberChimps
Author URI: https://cyberchimps.com/
License: GNU General Public License
License URI: license.txt
*/

@import "bourbon";

$colour-font: #404041;
$colour-font-inactive: #bbbdc0;
$colour-orange: #f16541;
$colour-orange-dark: #f04e30;

$border-radius: 2px;

$box-shadow: 0 5px 0 rgba(0,0,0,0.025);


/* = Global
-------------------------------------------------------------- */

body, html{
	height: 100%;
	background-color: #efeff4;
}

/* = Fonts
-------------------------------------------------------------- */

@include font-face(Brandon-Bold, '../fonts/Brandon/Brandon-Bold', bold);
@include font-face(Brandon-Normal, '../fonts/Brandon/Brandon-Normal', normal);

h1, h2, h3, h4, h5, h6{
	font-family: 'Brandon-Bold';
	font-weight: normal;
	color: $colour-font;
}

p, a, div, span{
	font-family: 'Brandon-Normal';
	font-weight: normal;
	color: $colour-font;
}

a{
	@include transition(all 0.25s $ease-in-out-quad);
}

*{
	-webkit-font-smoothing: antialiased;	
}

strong{
	font-family: 'Brandon-Bold';
}

/* = Header
-------------------------------------------------------------- */

#header{
	background: white;
	padding: 25px;
	box-shadow: $box-shadow;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

#container{
	margin: 0;
	padding: 0;
	max-width: none;
}

.skip-container{
	display: none;
}

.main-nav{
	display: inline-block;
	float: left;
	clear: none;
	ul.menu{
		background: none;
		li{
			a{
				border: none;
				text-shadow: none;
				color: $colour-font-inactive;
				text-transform: uppercase;
				padding: 0;
				font-family: 'Brandon-Bold';
				line-height: inherit;
				height: inherit;
				padding-right: 15px;
				font-size: 14px;
				&:hover{
					color: $colour-font;
					background: none;
				}
			}
		}
	}

	ul.menu > li:hover{
		background: none;
	}
	
}

.logo{
	float: left;
	display: inline-block;
	padding-right: 30px;
}

.signin{
	color: $colour-orange;
	text-transform: uppercase;
	padding: 0;
	font-family: 'Brandon-Bold';
	line-height: inherit;
	height: inherit;
	font-size: 14px;
	float: right;
}

/* = Front Page
-------------------------------------------------------------- */

.featured{
	text-align: center;
	padding: 50px;
	h1{
		font-size: 40px;
		text-transform: uppercase;
		display: block;
	}
	h2{
		font-size: 22px;
		font-family: 'Brandon-Normal';
		display: block;
	}
	a{
		background-color: $colour-orange;
		padding: 20px 50px;
		border-radius: $border-radius;
		font-size: 16px;
		color: white;
		font-family: 'Brandon-Bold';
		text-transform: uppercase;
		display: inline-block;
		margin-top: 30px;
		box-shadow: $box-shadow;
		&:hover{
			background-color: $colour-orange-dark;
		}
	}
}

/* = Footer
-------------------------------------------------------------- */

#footer{
	display: none;
}